[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=jolla-battery-monitor
Icon=jolla-battery-monitor
Exec=jolla-battery-monitor

